{%extends "base.html"%}

{%block content %}

<div id="login" class="col">
    <h1 class="text-center text-white pt-5"></h1>
    <div class="container center ">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-10">
                <div id="login-box" class="col-md-12">
                    <form class="form" method="post">
                        {% csrf_token %}
                        <h1 class="text-center text-danger">ATITHI</h1>
                        <br>
                        <br>
                        <h3 class="text-center text-primary">Login</h3>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="email" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="password" name="password" id="password" class="form-control">
                        </div>
                        {% for field in login_form %}
                        <p>
                            {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                        {% endfor %}
                        </p>
                        {% endfor %}
                        {% if login_form.non_field_errors %}
                        <div style="color: red">
                            <p>{{login_form.non_field_errors}}</p>
                        </div>
                        {% endif %}
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-primary btn-md" value="Login">
                        </div>
                        <div id="register-link" class="text-right">
                            <a href="signup" class="text-primary">Register here</a>
                        </div>
                        <div id="forgot-link" class="text-center">
                            <a href="password_reset" class="text-info"> Forgot password </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}







